.box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 60%;
  @media (max-width: 585px) {
    width: 95%;
  }
  height: 50%;
  background-image: conic-gradient(
      from var(--border-angle),
      #3a3f49,
      #3a3f49 50%,
      #3a3f49
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    display: flex;
    align-items: top;
    height: 98%;
    @media (max-width: 585px) {
      width: 98%;
    }

    * {
      text-align: center;
      background-color: #3a3f49;
      padding: 2px;
    }
  }
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
